{% extends "./Backend/plantillas.html" %}
{% load static %}
{% block body %}
<br><br><br><br><br>
<h1>Nuevo empleado</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'guardarEmpleado' %}" enctype="multipart/form-data" id="frm_nuevo_empleado" method="post">
                {% csrf_token %}
                <label for=""><b>Nombre:</b></label>
                <input type="text" name="nombre_empl" class="form-control" id="nombre_empl" placeholder="Ingrese el nombre del empleado" required>
                <br>
                <label for=""><b>Apellido:</b></label>
                <input type="text" name="apellido_empl" class="form-control" id="apellido_empl" placeholder="Ingrese el apellido del empleado" required>
                <br>
                <label for=""><b>Salario:</b></label>
                <input type="Number" name="salario_empl" class="form-control"  id="salario_empl" placeholder="Ingrese el salario del empleado" required>
                <br>
                <label for=""><b>Puesto:</b></label>
                <input type="text" name="puesto_empl" class="form-control" id="puesto_empl" placeholder="Ingrese el puesto del empleado" required>
                <br>
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Ingrese el email" required>
                <br>
                <label for=""><b>Empresa:</b></label>
                <select name="empresa" class="form-control" id="empresa" required>
                    <option value="">Seleccione una Empresa</option>
                    {% for empresa in empresas %}
                        <option value="{{ empresa.id_empr }}">{{ empresa.nombre_empr }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for=""><b>Fotografia:</b></label>
                <input type="file" name="foto_empl" id="foto_empl" accept="image/*" required class="form-control">

                <br>
                <button type="submit" class="btn btn-success">Guardar</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'ListadoEmpleado' %}" class="btn btn-warning">Cancelar</a>

            </form>

        </div>

    </div>
</div>

<script>    
    $("#frm_nuevo_empleado").validate({
        rules:{
            nombre_empl:{
                required:true,
                minlength:3,
                maxlength:10
            },
            apellido_empl
            :{
                required:true,
                minlength:3,
                maxlength:10
            },
            salario_empl:{
                required:true,
                number:true,
            },
            puesto_empl:{
                required:true,
            },
            empresa:{
                required:true,
                
            },
            email:{
                required:true,
                
            },
           
            foto_empl:{
                required:true
            }
        },
        messages:{
            nombre_empl:{
                required:"Por favor ingrese el nombre",
                minlength:"El nombre debe tener al menos 3 letras",
                maxlength:"Maximo 10 caracteres"
            },
            apellido_empl:{
                required:"Por favor ingrese el apellido",
                minlength:"El nombre debe tener al menos 3 letras",
                maxlength:"Maximo 10 caracteres"
            },
            salario_empl:{
                required:"Por favor ingrese el salario",
                number:"Solo Numeros"
            },
            puesto_empl:{
                required:"Por favor ingrese su puesto de trabajo",
            },
            empresa:{
                required:"Por favor ingrese la empresa a la que trabaja",
                
            },
            email:{
                required:"Por favor ingrese un correo electronico",
                
            },
            foto_empl:{
                required:"La fotografia es obligatoria",
            
            },
        }
    });
</script>


{% endblock  %}